@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    margin: 1rem auto;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    box-shadow: 5px 10px 8px #888888;
}

.logo {
    padding-left: 2em;
    padding-bottom: .6em;
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    align-items: center;
}

.nav li {
    list-style: none;
}
.nav a {
    text-decoration: none;
    color: #2a2a2a;
}

.nav a:hover {
    color: #888888;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
}

ul {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: #f9f9f9;
}

.h1 {
    color: #fffffc;
    margin: 16px 0;
    font-weight: 800;
}

h3 {
    margin: 8px 0;
    font-weight: 500;
}

.text {
    margin: 16px 0;
    line-height: 1.75;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
    border-radius: 15px;
}

main {
    background-color: #fffffc;
    grid-column-start: span 4;
}

footer {
    background-color: #F9F9F9;
    grid-column-start: span 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto 100px;
    }

    header,
    aside,
    main,
    footer {
        grid-column-start: span 4;
    }
}

.mobile {
    display: none;
}
.show {
    display: block;
}

@media (max-width:768px) {
    nav{
        position: relative;
    }

    nav ul {
        display: none;
        width: 100%;
        background-color: grey;
        position: absolute;
        top:100px;
        height:40vh;
        text-align: center;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        color:#fffffc;
    }

    a.mobile {
        color: #202020;
        font-size: 32px;
        display: block;
    }
}

/* Blog */
.blog-post h1 {
    color: #202020;
}

.blog-post a {
    color: dodgerblue;
}

.blog-post {
    padding: 32px;
}

.blog-post a:hover {
    color: blue;
}

.footer {
    background-color: #f6f6f6;
    display: block;
    padding: 2em 0 2em 0;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #2a2a2a;
}

.footer a:hover {
    color: #888888;;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
