.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    align-items: center;
}

.hero {
	min-height: 50vh;
	display: grid;
	justify-items: center;
	align-content: center;
	justify-content: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw 0 5vw;
}